* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background: linear-gradient(135deg, #f0f0f0, #ffffff); */
  background: linear-gradient(135deg, #1e1e1e, #2a2a2a, #333333);
}

nav {
  width: 95%;
  height: 8%;
  /* background-color: aqua; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  z-index: -2;
}

#logo {
  height: 50px;
  width: auto;
  background: transparent;
}

.links {
  display: flex;
  list-style: none;
  color: black;
  gap: 35px;
  align-items: center;
}

.logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

#nav-links {
  height: auto;
  width: auto;
  padding: 6px;
}

navbar {
  position: absolute;
  top: 20px;
  left: 36%;
  width: max-content;
  height: max-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(249, 249, 249, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
}


.logo-box p:nth-child(1) {
    font-size: 18px;
    font-family: "Playfair Display", serif; /* Updated font name and fallback */
    color: white;
}

.logo-box p:nth-child(2) {
    font-size: 14px;
    font-family: "Playfair Display", serif; /* Updated font name and fallback */
    color: white;
}