body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right top,
    #c1d8d2,
    #cbddd3,
    #d7e1d4,
    #e2e6d8,
    #f3ebcc,
    #eee5be,
    #dfddcc,
    #d8d6c4,
    #bac4af,
    #99b29f,
    #77a195,
    #578e8e
  );
}
.container {
  width: 60%;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.631);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(50px);
  /* overflow: hidden; */
  /* background-image: linear-gradient(
    to right top,
    #c1d8d2,
    #cbddd3,
    #d7e1d4,
    #e2e6d8,
    #f3ebcc,
    #eee5be,
    #dfddcc,
    #d8d6c4,
    #bac4af,
    #99b29f,
    #77a195,
    #578e8e
  ); */
}
h2 {
  text-align: center;
  color: #333;
}
label {
  display: block;
  /* margin-bottom: 8px; */
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkbox {
  margin-bottom: 20px;
}
.checkbox label {
  display: inline-block;
}
input,
button {
  /* margin: 5px; */
  padding: 10px;
}

button {
  background-color: green;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
}

button:hover {
  background-color: darkgreen;
}

button[type="reset"] {
  background-color: red;
  color: white;
  cursor: pointer;
  border: none;
}

button[type="reset"]:hover {
  background-color: darkred;
}
input[type="Register"]:hover {
  background-color: #218838;
}
input[type="reset"]:hover {
  background-color: darkred;
}

#regForm {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gender-input {
  display: flex;
  align-items: center;
  /* justify-content: space-; */
  gap: 20px;
}
.gender-value {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#age {
  width: 90%;
}