body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
h2 {
  text-align: center;
  color: #333;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="radio"] {
  margin-right: 10px;
}
.checkbox {
  margin-bottom: 20px;
}
.checkbox label {
  display: inline-block;
}
input,
button {
  margin: 5px;
  padding: 10px;
}

button {
  background-color: green;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
}

button:hover {
  background-color: darkgreen;
}

button[type="reset"] {
  background-color: red;
  color: white;
  cursor: pointer;
  border: none;
}

button[type="reset"]:hover {
  background-color: darkred;
}
input[type="Register"]:hover {
  background-color: #218838;
}
input[type="reset"]:hover {
  background-color: darkred;
}
