* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  overflow: hidden;
}

main {
  /* position: relative; */
  height: 100vh;
  width: 100%;
  padding: 20px 10px;
  background-image: linear-gradient(
    to right top,
    #c1d8d2,
    #cbddd3,
    #d7e1d4,
    #e2e6d8,
    #f3ebcc,
    #eee5be,
    #dfddcc,
    #d8d6c4,
    #bac4af,
    #99b29f,
    #77a195,
    #578e8e
  );
}

.nav-logo img {
  height: 45px;
  width: auto;
}
nav {
  background-color: rgba(0, 0, 0, 0.131);
  display: flex;
  border-radius: 50px;
  height: 7%;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(40px);
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.nav-logo img {
  height: 40px;
  width: auto;
  margin-top: 10px;
}

.nav-logo p {
  font-size: 24px;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  margin: 0;
}

.desk-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.desk-menu a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  height: max-content;
  width: max-content;
  padding: 5px 8px;
  font-family: "quicksand", sans-serif;
}

.reg-btn {
  font-family: "Raleway", sans-serif;
  width: 80px;
  height: 38px;
  font-size: 14px;
  background-color: #c1d8d2;
  border: none;
  font-weight: 500;
  padding: 0 10px 0 10px;
  border: 1px solid black;
  font-weight: 600;
  border-radius: 40px;
}

.reg-btn:hover {
 background-color: #8ccaca;
 color: black;
}

.desk-menu a:hover {
  background-color: #c1d8d2;
  border-radius: 20px;
}

home {
  width: 100%;
  height: calc(93% - 40px);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.home-text {
  height: 100%;
  width: 600px;
  display: flex;
  gap: 45px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-text h2 {
  font-family: "Abril Fatface", sans-serif;
  font-size: 46px;
  width: 550px;
  text-align: left;
  font-weight: lighter;
}

.home-text p {
  font-family: "Open Sans",sans-serif;
  font-size: 24px;
  width: 550px;
  text-align: left;
}

.home-text button {
  font-family: "Lobster",sans-serif;
  width: 70%;
  font-size: 26px;
  height: 50px;
  padding: 10px 15px;
  margin-right: 70px;
}

.home-img {
  padding: 50px 0 0 0;
  height: 550px;
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img img {
  width: auto;
  height: 550px;
}

#cursor {
  height: 20px;  
  width: 20px;   
  border-radius: 50%;
  background-color: rgba(4, 4, 4, 0.252);
  color: rgb(243, 239, 239);  
  font-size: 7px; 
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none; 
  z-index: 9999;
  font-family: "Roboto Slab",sans-serif;
  backdrop-filter: blur(30px);
  display: none;
  border: rgb(227, 218, 218) 1px solid;
}

#loader {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.184);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(20px);
  gap: 4%;
  opacity: 0;
}

#loader p{
  font-size: 40px;
  font-family: "Montserrat",sans-serif;
}

i {
  display: none;
}

#mob-menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #ffffff50;
  display: none;
  flex-direction: column;
  top: 0;
  backdrop-filter: blur(20px);
  right: 0;
  z-index: 1000;
  padding: 60px 40px;
  gap: 20px;
  font-size: 30px;
}

.mob-reg {
  display: none;
}

.mob-reg i {
  cursor: pointer;
  font-size: 30px;
}

#mob-menu i{
  position:absolute;
  top: 6%;
  right: 6%;
  background-color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mob-reg-btn {
  font-family: "Raleway", sans-serif;
  width: 80px;
  height: 38px;
  font-size: 14px;
  background-color: #c1d8d2;
  border: none;
  font-weight: 500;
  padding: 0 10px 0 10px;
  border: 1px solid black;
  font-weight: 600;
  border-radius: 40px;
}

#mob-menu a {
  text-decoration: none;
  color: black;
  font-family: "Playfair Display";
}

@media (max-width:1000px) {
  .desk-menu {
    display: none;
  }

  i {
    display: block;
  }

  .reg-btn {
    display: none;
  }

  .mob-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .home-text {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-text h2 {
    font-size: 36px;
    width: 100%;
    text-align: center;
  }

  .home-text p {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }

  .home-text button {
    width: 80%;
    margin: 0 auto;
    font-size: 24px;
  }

  .home-img {
    width: 100%;
    padding: 0;
    height: auto;
  }

  .home-img img {
    height: auto;
    max-width: 100%;
  }

}


@media (max-width: 600px) {
  #nav-text {
    display: none;
  }

  .nav-logo img {
    width: 75px;
    height: auto;
  }
  .mob-reg {
    gap: 25px;
  }

  .mob-reg i {
    font-size: 40px;
  }
  .mob-reg-btn {
    width: 100px;
    height: 50px;
    font-size: 20px;
  }

  home {
    flex-direction: column;
  }
}

@media (max-width: 430px){
  .nav-logo img {
    width: 60px;
    height: auto;
  }
  .mob-reg {
    gap: 15px;
  }

  .mob-reg i {
    font-size: 30px;
  }
  .mob-reg-btn {
    width: 80px;
    height: 40px;
    font-size: 16px;
    border-radius: 12px;
  }

  home {
    flex-direction: column;
  }
  
  main {
    overflow-y: scroll;
  }
}