* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  overflow: hidden;
}

main {
  height: 100vh;
  width: 100%;
  padding: 20px 10px;
  background-image: linear-gradient(
    to right top,
    #c1d8d2,
    #cbddd3,
    #d7e1d4,
    #e2e6d8,
    #f3ebcc,
    #eee5be,
    #dfddcc,
    #d8d6c4,
    #bac4af,
    #99b29f,
    #77a195,
    #578e8e
  );
}

.nav-logo img {
  height: 45px;
  width: auto;
}
nav {
  background-color: rgba(0, 0, 0, 0.131);
  display: flex;
  border-radius: 50px;
  height: 7%;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(40px);
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.nav-logo img {
  height: 40px;
  width: auto;
  margin-top: 10px;
}

.nav-logo p {
  font-size: 24px;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  margin: 0;
}

.desk-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.desk-menu a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  height: max-content;
  width: max-content;
  padding: 5px 8px;
  font-family: "quicksand", sans-serif;
}

.reg-btn {
  font-family: "Raleway", sans-serif;
  width: 80px;
  height: 30px;
  font-size: 14px;
  background-color: #c1d8d2;
  border: none;
  font-weight: 500;
  padding: 0 10px 0 10px;
  border: 1px solid black;
  font-weight: 600;
}

.reg-btn:hover {
  border-radius: 40px;
  border: 1px solid black;
  transition: all 2s ease-in;
}

.desk-menu a:hover {
  background-color: #c1d8d2;
  border-radius: 20px;
}

home {
  width: 100%;
  height: calc(93% - 40px);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.home-text {
  height: 600px;
  width: 600px;
  display: flex;
  gap: 45px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-text h2 {
  font-family: "Abril Fatface", sans-serif;
  font-size: 46px;
  width: 550px;
  text-align: left;
  font-weight: lighter;
}

.home-text p {
  font-family: "Open Sans",sans-serif;
  font-size: 24px;
  width: 550px;
  text-align: left;
}

.home-text button {
  font-family: "Lobster",sans-serif;
  width: 70%;
  font-size: 26px;
  height: 50px;
  padding: 10px 15px;
  margin-right: 70px;
}

.home-img {
  padding: 50px 0 0 0;
  height: 550px;
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img img {
  width: auto;
  height: 550px;
}

#cursor {
  height: 20px;  
  width: 20px;   
  border-radius: 50%;
  background-color: rgba(4, 4, 4, 0.252);
  color: rgb(243, 239, 239);  
  font-size: 7px; 
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none; 
  z-index: 9999;
  font-family: "Roboto Slab",sans-serif;
  backdrop-filter: blur(30px);
  display: none;
  border: rgb(227, 218, 218) 1px solid;
}

