* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #4B0082, #FF6F61, #52b2d2);
  overflow: hidden;
}

nav {
  width: 98%;
  height: 80px;
  z-index: 99;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

#logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

#links {
  display: flex;
  gap: 40px;
  align-items: center;
}

#links a {
  text-decoration: none;
  color: #9a9797;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

#links a:hover {
  color: white;
  transition: all 0.5ms;
  font-weight: 700;
  transform: scale(1.04);
  transition: transform ease-in-out 1ms;
}

#logo-text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: "Roboto slab", sans-serif;
  font-weight: 700;
  line-height: 15px;
}

#logo-text span {
  font-size: 12px;
  font-weight: 400;
}

#logo-img {
  width: auto;
  height: 60px;
}

/* Registration Form Starts*/

#container {
  height: calc(100% - 80px);
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
  width: 400px;
  height: 500px;
  background: rgba(252, 252, 252, 0.426); 
  backdrop-filter: blur(55px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
}

.gender {
  display: flex;
  gap: 20px;
}

#gender-opt {
  display: flex;
  align-items: center;
  gap: 12px;
}

#form-header {
  color: white;
  font-size: 36px;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tech-skill {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

#tech-opt {
  display: flex;
  gap: 12px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"] {
  width: 350px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8); 
  padding-left: 4px;
  border: none;
  border-radius: 5px;
  backdrop-filter: blur(3px); 
}

.gender {
  width: 350px;
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

select {
  width: 357px;
  border: none;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.upload-button {
  background-color: #1873f3;
  color: white;
  border: none;
  width: 350px;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.hidden-file-input {
  display: none;
}

#submit-button,
#reset-button {
  width: 130px;
  height: 40px;
  font-size: 16px;
  border-radius: 8%;
}

#btns {
  width: 350px;
  display: flex;
  justify-content: space-around;
}

#tech-opt {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

#submit-button {
  background-color: #4CAF50;
}

#submit-button:hover {
  background-color: #45A049;
}

#reset-button {
  background-color: #F44336;
}

#reset-button:hover {
  background-color: #D32F2F;
}